/**
 * @section Base Styles
 */


* {
	box-sizing: border-box;
	font-family: sans-serif;
  }
  
  ul,
  li {
	margin: 0;
	padding: 0;
	list-style-type: none;
  }
  
  a {
	text-decoration: none;
  }
  
  body {
	padding: 40px 20px 0;
  }
  
  /* navigation */
  
  .navigation {
	position: relative;
  
	ul {
	  display: flex;
	  justify-content: space-evenly;
	  border-bottom: 2px solid #dbdbdb;
	  padding-bottom: 10px;
	  li {
		display: inline-block;
		a {
		  color: #b2b2b2;
		  letter-spacing: 1px;
		  font-size: 1em;
		  padding-bottom: 10px;
		  &:hover {
			color: #6ca0c5;
		  }
		}
		&.active {
		  a {
			color: #1f1f1f;
			&:hover {
			  color: #1f1f1f;
			  cursor: default;
			}
		  }
		}
	  }
	}
  
	&__underline {
	  position: absolute;
	  bottom: 0;
	  height: 2px;
	  background-color: #1f1f1f;
	  transition: all 0.5s ease;
	}
  
	@media only screen and (max-width: 980px) {
	  ul {
		flex-direction: column;
		border-bottom: none;
		li {
		  padding: 15px 0;
		  a {
			padding-bottom: 4px;
		  }
		}
	  }
	  &__underline {
		display: none;
	  }
	}
  }
  